* {
    box-sizing: border-box;
}

body {
    padding: 1rem 2.5rem;
}

pre {
    border: 1px solid #333;
}

code {
    color: #d63384;
}

img {
    max-width: 100%;
}

.page-break {
    page-break-after: always;
}