* {
    box-sizing: border-box;
}

body {
    padding: 1rem 2.5rem;
    background-color: #010101;
    color: #fff;
}

pre {
    border: 1px solid #333;
}

code {
    color: #d63384;
}

img {
    max-width: 100%;
}

blockquote {
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    background-color: #111;
    padding: 8px 10px 8px 15px;
    border-left: 5px solid #333;
    margin-left: 0;
}

.text-center {
    text-align: center;
}

.page-break {
    page-break-after: always;
}